@for $i from 0 through 199 {
	@keyframes colorize-#{$i} {
		0% {}
		50% {fill: hsl(random(20), random(50 * 2), 60);}
 		100% {}
	}
	.st#{$i} {
		animation: colorize-#{$i} (random(19) * 3s) ease-in-out (random(17) * 3s) alternate 10;
		&:hover {
			animation: none;
			cursor: pointer;
		}
	}
}

.st13, .st14, .st309, .st164, .st144, .st295, .st164, .st52, .st11, .st299 {
	animation: none;
}

@for $i from 200 through 348 {

	.st#{$i} {
		animation: none;
	}
}

section.shards {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	overflow: hidden;
	top:0;
	z-index: -1;
	margin-top: -30px;
}

.svg-title {
	font-family: 'Pacifico', serif;
	opacity: .6;
}


.🐱 {
	display: block;
	margin: auto;
	max-width: 400px;
	margin-top: 15px;
}


.shard1 {
	.🎂 {
		fill: darken(#AB001F, 10%);
		opacity: random(2) * .11;
	}
	position: absolute;
	top: (random(5) * 1%);
	left: (random(40) * 1%);
	z-index: -1;
	width: (random(520) * 4px);
	// animation: shard-#{$i} 10s ease-in-out alternate;
	&:hover {
		animation: none;
		cursor: pointer;
	}
}

.shard2 {
	.🎂 {
		fill: darken(#AB001F, 17%);
		opacity: random(2) * .11;
	}
	position: absolute;
	top: (random(5) * 1%);
	left: (random(40) * 1%);
	z-index: -1;
	width: (random(120) * 12px);
	// animation: shard-#{$i} 10s ease-in-out alternate;
	&:hover {
		animation: none;
		cursor: pointer;
	}
}

.shard3 {
	.🎂 {
		fill: darken(#AB001F, 10%);
		opacity: random(2) * .11;
		width: (random(120) * 12px);
	}
	position: absolute;
	top: 0;
	left: (random(40) * 1%);
	z-index: -1;
	width: (random(120) * 12px);
	// animation: shard-#{$i} 10s ease-in-out alternate;
	&:hover {
		animation: none;
		cursor: pointer;
	}
}

.shard4 {
	.🎂 {
		fill: darken(#AB001F, 10%);
		opacity: random(2) * .11;
	}
	position: absolute;
	top: (random(10) * 1%);
	left: (random(40) * 1%);
	z-index: -1;
	width: (random(120) * 12px);
	// animation: shard-#{$i} 10s ease-in-out alternate;
	&:hover {
		animation: none;
		cursor: pointer;
	}
}