@for $i from 0 through 348 {
	.st#{$i} {
		&:hover {
			animation: none;
			cursor: crosshair;
		}
	}
}

.st13, .st14, .st309, .st164, .st144, .st295, .st164, .st52, .st11, .st299 {
	animation: none;
}

section.shards {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	overflow: hidden;
	top:0;
	z-index: -2;
	margin-top: -30px;
}

.svg-title {
	font-family: 'Pacifico', serif;
	opacity: .6;
}


.🐱 {
	display: block;
	margin: auto;
	max-width: 400px;
	margin-top: 15px;
}


.shard1 {
	.🎂 {
		fill: darken(#AB001F, 10%);
	}
	position: absolute;
	top: (random(5) * 1%);
	left: (random(40) * 1%);
	z-index: -2;
	width: (random(520) * 4px);
	&:hover {
		animation: none;
		cursor: crosshair;
	}
}

.shard2 {
	.🎂 {
		fill: darken(#AB001F, 27%);
	}
	position: absolute;
	top: (random(5) * 1%);
	left: (random(40) * 1%);
	z-index: -2;
	width: (random(120) * 12px);
	&:hover {
		animation: none;
		cursor: crosshair;
	}
}

.shard3 {
	.🎂 {
		fill: darken(#AB001F, 20%);
		width: (random(120) * 12px);
	}
	position: absolute;
	top: 0;
	left: (random(40) * 1%);
	z-index: -2;
	width: (random(120) * 12px);
	&:hover {
		animation: none;
		cursor: crosshair;
	}
}

.shard4 {
	.🎂 {
		fill: darken(#AB001F, 30%);
	}
	position: absolute;
	top: (random(10) * 1%);
	left: (random(40) * 1%);
	z-index: -2;
	width: (random(120) * 12px);
	&:hover {
		animation: none;
		cursor: crosshair;
	}
}

.self-portrait {
	padding: 10px;
}
.self-portrait polygon {
    fill-opacity: 0;
    stroke: papayawhip;
    stroke-width: 1;
    stroke-dasharray: 252;
    stroke-dashoffset: 252;
    animation: draw 5s linear forwards;
}

@keyframes draw {

	0% {
		fill-opacity: 0;
	}
	60% {
		fill-opacity: 1;
	}
	80% {
		stroke-dashoffset: 0;
		stroke-width: 0;
	}
	100% {
		fill-opacity: 1;
		stroke-width: 0;
		stroke-dashoffset: 0;
	}
}
