@charset "utf-8";

@import "normalize";
@import "variables";
@import "portrait";

body {
	background-color: $dark-neutral;
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;
}

main {
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
}

.main-grid {
	margin: auto;
	padding: 20px;
	padding-top: 0;
	margin-bottom: 30px;
	max-width: 400px;
	@supports(display:grid) {
		@media (min-width: 600px) {
		max-width: none;
		display: grid;
		grid-template-columns: 1.3fr .6fr 1.3fr .8fr 1fr 1.6fr 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 1vw;
		}
	}
}

.main-grid-item {
	// background-color: hsla(5, 60, 60, .2);
}

.main-grid-color-theory {
	grid-column: 3 / span 3;
	grid-row: 13 / 15;
	align-self: center;
	justify-self: center;
	z-index: 2;
}

.main-grid-speaking {
	grid-column: 2 / span 4;
	grid-row: 5;
}

.main-grid-grid {
	grid-column: 6 / span 2;
	grid-row: 10;
	align-self: center;
}

.main-grid-writing {
	grid-column: 5;
	grid-row: 2 / 3;
	align-self: end;
	justify-self: right;
}

.main-grid-coding {
	grid-column: 3 / span 3;
	grid-row: 2;
	@supports(display:grid) {
		@media (min-width: 600px) {
			min-height: 250px;
		}
	}
}

.main-grid-coding-shard {
	grid-column: 1 / span 4;
	grid-row: 1 / 4;
	min-height: 250px;
	z-index: -1;
}

.main-grid-teaching {
	grid-column: 5 / span 2;
	grid-row: 4 / 5;
	align-self: center;
}

.main-grid-teaching-shard {
	grid-column: 4 / span 3;
	grid-row: 4;
	align-self: start;
	z-index: -1;
}

.main-grid-grid-shard {
	grid-column: 5 / span 2;
	grid-row: 10;
	align-self: end;
	z-index: -1;
}

.main-grid-writing-shard {
	grid-column: 5 / span 2;
	grid-row: 2;
	align-self: center;
	z-index: -1;
}

.main-grid-illustrating {
	grid-column: 4 / span 3;
	grid-row: 3 / 4;
}

.main-grid-illustrating-shard {
	grid-column: 3 / 6;
	grid-row: 3 / 4;
	align-self: start;
	z-index: -1;
	justify-self: center;
}

.main-grid-speaking-shard {
	grid-column: 2 / span 4;
	grid-row: 5/ 11;
	z-index: -1;
}

.main-grid-coding-shard, 
.main-grid-speaking-shard,
.main-grid-illustrating-shard,
.main-grid-writing-shard,
.main-grid-grid-shard,
.main-grid-teaching-shard {
	display: none;
	@supports(display:grid) {
		@media (min-width: 600px) {
			display: inline-block;
		}
	}
}

footer {
	border-top: 1px solid $complementary-neutral-dark;
	text-align: center;
}

h2 {
	color: $complementary-neutral-light;
}

.🌺 {
	text-align: left;
	border-bottom: 10px solid #860519;
	@supports(display:grid) {
		@media (min-width: 600px) {
			border-bottom: none;
		}
	}
}

.🌷 {
	color: $complementary-neutral-light;
	list-style: none;
	li {
		margin-bottom: .5em;
	}
}

p {
	color: $complementary-neutral-light;
}

a {
	color: $complementary-neutral-light;
	&:active, &:focus, &:hover {
		color: white;
		text-decoration: underline;
	}
}
