---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hi, I'm Natalya"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
	heroImage=""
>
	<p>
		Seasoned people leader, designer, software engineer, author, and educator. I currently lead a team of incredibly talented designers and coders working on Primer, GitHub’s open-source design system. We write a lot of code, design incredible user experiences, and serve 100+ million developers every single day.
</p>
<p>
At The New York Times, I worked on projects from experimental apps to the main core home page. I learned the importance of being nimble and resourceful at my desk in the middle of it all, where I helped design and develop the tech powering publishing unprecedented news during unprecedented times. During this time I also taught at Harvard Extension, where I created a course on Modular Design Patterns with React. 
</p>
<p>
I am deeply committed to the community. Sharing knowledge and mentorship is deeply integrated into what I do. When not attending or speaking at design and tech conferences, I love to write: from authoring the Design Engineering Handbook to articles for various online publications, to my own Medium blog. When I'm not writing, I'm painting! From my own unique paintings to watercolor conference sketchnotes.
</p>
<p>
I took the scenic route in my career: I have a background in the non-profit world as an art director and design educator. I hold bachelor’s degrees in Studio Art and Psychology, and a master's in Creativity and Talent Development. Crossing disciplines and building bridges between design and engineering is at the foundation of much of my work, and building teams and creating at scale is the next big adventure.
	</p>
</Layout>
