---
title: Artist-Developer
---

<div class="ðŸ±">
	<?xml version="1.0" encoding="utf-8"?>
	<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
	<svg class="self-portrait" version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 375.9 479.5" style="enable-background:new 0 0 375.9 479.5;" xml:space="preserve">
	<style type="text/css">
		.svg-title{font-family: 'Pacifico', serif;}
		.svg-title{font-size:22px; fill:white; }
		.svg-twitter {font-size: 12px; fill: #222;}
	</style>
	<circle cx="170" cy="200" r="170" fill="#383C3D" >
	</circle>
	<title>Natalya</title>
	<desc>vector self portrait that alternates colors randomly at every compile</desc>
	<style type="text/css">
		.st0{fill:#7C5335;}
		.st1{fill:#342811;}
		.st2{fill:#191409;}
		.st3{fill:#443F21;}
		.st4{fill:#995C30;}
		.st5{fill:#3B3424;}
		.st6{fill:#342E16;}
		.st7{fill:#353327;}
		.st8{fill:#362E1F;}
		.st9{fill:#362D1C;}
		.st10{fill:#FCC585;}
		.st11{fill:#221C0D;}
		.st12{fill:#BD925F;}
		.st13{fill:#EFB16F;}
		.st14{fill:none;}
		.st15{fill:#483821;}
		.st16{fill:#5D432B;}
		.st17{fill:#8C6540;}
		.st18{fill:#B28155;}
		.st19{fill:#2D2210;}
		.st20{fill:#8D6C47;}
		.st21{fill:#1C1609;}
		.st22{fill:#482C17;}
		.st23{fill:#805241;}
		.st24{fill:#2D2C17;}
		.st25{fill:#4F3924;}
		.st26{fill:#957047;}
		.st27{fill:#E7A468;}
		.st28{fill:#E59E63;}
		.st29{fill:#F4B778;}
		.st30{fill:#5A6351;}
		.st31{fill:#514333;}
		.st32{fill:#B89470;}
		.st33{fill:#2D2719;}
		.st34{fill:#604328;}
		.st35{fill:#CB9261;}
		.st36{fill:#FFC07D;}
		.st37{fill:#FFC17C;}
		.st38{fill:#FDB879;}
		.st39{fill:#FFC481;}
		.st40{fill:#FFC484;}
		.st41{fill:#ECA469;}
		.st42{fill:#C08151;}
		.st43{fill:#FFC07B;}
		.st44{fill:#9E6E41;}
		.st45{fill:#C68D5D;}
		.st46{fill:#332F21;}
		.st47{fill:#E3A668;}
		.st48{fill:#20150A;}
		.st49{fill:#F0AF70;}
		.st50{fill:#6E563D;}
		.st51{fill:#7E614F;}
		.st52{fill:#C3B37F;}
		.st53{fill:#E5D4A0;}
		.st54{fill:#E6CB8C;}
		.st55{fill:#372E1C;}
		.st56{fill:#201709;}
		.st57{fill:#795C41;}
		.st58{fill:#8A7654;}
		.st59{fill:#A2865E;}
		.st60{fill:#867960;}
		.st61{fill:#433C2C;}
		.st62{fill:#B28A57;}
		.st63{fill:#60462C;}
		.st64{fill:#C98C52;}
		.st65{fill:#D59558;}
		.st66{fill:#DB995B;}
		.st67{fill:#D3955B;}
		.st68{fill:#ECA362;}
		.st69{fill:#E69B62;}
		.st70{fill:#22190A;}
		.st71{fill:#FDC483;}
		.st72{fill:#D49960;}
		.st73{fill:#2F2E1F;}
		.st74{fill:#5F482B;}
		.st75{fill:#A0724F;}
		.st76{fill:#694D30;}
		.st77{fill:#D3915E;}
		.st78{fill:#DD9A65;}
		.st79{fill:#46351C;}
		.st80{fill:#686555;}
		.st81{fill:#1D190F;}
		.st82{fill:#2A2416;}
		.st83{fill:#B2A175;}
		.st84{fill:#21180B;}
		.st85{fill:#855E3E;}
		.st86{fill:#3B291C;}
		.st87{fill:#7E7054;}
		.st88{fill:#3A362A;}
		.st89{fill:#404034;}
		.st90{fill:#897F5F;}
		.st91{fill:#6B614E;}
		.st92{fill:#40362A;}
		.st93{fill:#303024;}
		.st94{fill:#5F5746;}
		.st95{fill:#5B4836;}
		.st96{fill:#6E513F;}
		.st97{fill:#6E573B;}
		.st98{fill:#815F3E;}
		.st99{fill:#434132;}
		.st100{fill:#2F2E2A;}
		.st101{fill:#B1976D;}
		.st102{fill:#7B7158;}
		.st103{fill:#84775A;}
		.st104{fill:#A8966D;}
		.st105{fill:#DBC78E;}
		.st106{fill:#837B5E;}
		.st107{fill:#605B45;}
		.st108{fill:#D2C799;}
		.st109{fill:#3A3D36;}
		.st110{fill:#655E4D;}
		.st111{fill:#A08E6B;}
		.st112{fill:#37321F;}
		.st113{fill:#2D2B1E;}
		.st114{fill:#79643A;}
		.st115{fill:#2D2815;}
		.st116{fill:#3D371D;}
		.st117{fill:#5C4E2D;}
		.st118{fill:#423B28;}
		.st119{fill:#222014;}
		.st120{fill:#2B2416;}
		.st121{fill:#1F1C0B;}
		.st122{fill:#232011;}
		.st123{fill:#3A3220;}
		.st124{fill:#281F0F;}
		.st125{fill:#302819;}
		.st126{fill:#534228;}
		.st127{fill:#CB8955;}
		.st128{fill:#A37245;}
		.st129{fill:#B4814E;}
		.st130{fill:#AB794E;}
		.st131{fill:#9A6E44;}
		.st132{fill:#6B4F2B;}
		.st133{fill:#765534;}
		.st134{fill:#D7985E;}
		.st135{fill:#F8B576;}
		.st136{fill:#BA8451;}
		.st137{fill:#B0804E;}
		.st138{fill:#E4A067;}
		.st139{fill:#D48A5A;}
		.st140{fill:#B07148;}
		.st141{fill:#D38C5B;}
		.st142{fill:#D2885B;}
		.st143{fill:#986343;}
		.st144{fill:#EDA86A;}
		.st145{fill:#FFB583;}
		.st146{fill:#EE9E6B;}
		.st147{fill:#C07F56;}
		.st148{fill:#FFDEB2;}
		.st149{fill:#8A6240;}
		.st150{fill:#7C5534;}
		.st151{fill:#AE7147;}
		.st152{fill:#925A37;}
		.st153{fill:#26120D;}
		.st154{fill:#643E26;}
		.st155{fill:#764D32;}
		.st156{fill:#C1885C;}
		.st157{fill:#F4B875;}
		.st158{fill:#FFDB9B;}
		.st159{fill:#D29A69;}
		.st160{fill:#FFC683;}
		.st161{fill:#FFC37F;}
		.st162{fill:#57503C;}
		.st163{fill:#BD8A58;}
		.st164{fill:#FFD08A;}
		.st165{fill:#AC6E52;}
		.st166{fill:#B57553;}
		.st167{fill:#E3A46B;}
		.st168{fill:#7F5E40;}
		.st169{fill:#BE7556;}
		.st170{fill:#FFB286;}
		.st171{fill:#FFC99B;}
		.st172{fill:#5E2D24;}
		.st173{fill:#6A473A;}
		.st174{fill:#B7765F;}
		.st175{fill:#D78A69;}
		.st176{fill:#D19862;}
		.st177{fill:#9B7048;}
		.st178{fill:#99634A;}
		.st179{fill:#471F16;}
		.st180{fill:#5F4627;}
		.st181{fill:#A07A4D;}
		.st182{fill:#C3975D;}
		.st183{fill:#AB8553;}
		.st184{fill:#DBA469;}
		.st185{fill:#E4866A;}
		.st186{fill:#F69D7A;}
		.st187{fill:#BE6F56;}
		.st188{fill:#3B1B12;}
		.st189{fill:#DCA36B;}
		.st190{fill:#F1B777;}
		.st191{fill:#D89B60;}
		.st192{fill:#C8915A;}
		.st193{fill:#C18953;}
		.st194{fill:#6C4D2E;}
		.st195{fill:#674729;}
		.st196{fill:#694728;}
		.st197{fill:#725334;}
		.st198{fill:#62492A;}
		.st199{fill:#322716;}
		.st200{fill:#2D2413;}
		.st201{fill:#553C20;}
		.st202{fill:#725634;}
		.st203{fill:#7E5F38;}
		.st204{fill:#9A6E42;}
		.st205{fill:#B2814D;}
		.st206{fill:#81603A;}
		.st207{fill:#705132;}
		.st208{fill:#C48E57;}
		.st209{fill:#B48351;}
		.st210{fill:#BA8657;}
		.st211{fill:#805C37;}
		.st212{fill:#231E0D;}
		.st213{fill:#A58D5D;}
		.st214{fill:#8E6541;}
		.st215{fill:#3A321D;}
		.st216{fill:#320001;}
		.st217{fill:#450704;}
		.st218{fill:#6A010D;}
		.st219{fill:#BE7858;}
		.st220{fill:#A16A54;}
		.st221{fill:#CB8F5F;}
		.st222{fill:#856752;}
		.st223{fill:#17140A;}
		.st224{fill:#19170D;}
		.st225{fill:#1D1C10;}
		.st226{fill:#EB9657;}
		.st227{fill:#161407;}
		.st228{fill:#0D0B02;}
		.st229{fill:#7A5739;}
		.st230{fill:#2E220D;}
		.st231{fill:#A6633F;}
		.st232{fill:#D78658;}
		.st233{fill:#844929;}
		.st234{fill:#A66E42;}
		.st235{fill:#8F623D;}
		.st236{fill:#282311;}
		.st237{fill:#5D4F2E;}
		.st238{fill:#4E4226;}
		.st239{fill:#524224;}
		.st240{fill:#342B19;}
		.st241{fill:#765C30;}
		.st242{fill:#3D3520;}
		.st243{fill:#242214;}
		.st244{fill:#453921;}
		.st245{fill:#390605;}
		.st246{fill:#AB001F;}
		.st247{fill:#8D1817;}
		.st248{fill:#860612;}
		.st249{fill:#3D0000;}
		.st250{fill:#4A0009;}
		.st251{fill:#150000;}
		.st252{fill:#830016;}
		.st253{fill:#3E0000;}
		.st254{fill:#430004;}
		.st255{fill:#240000;}
		.st256{fill:#272B2D;}
		.st257{fill:#383C3D;}
		.st258{fill:#2E3535;}
		.st259{fill:#2D2F30;}
		.st260{fill:#0D1517;}
		.st261{fill:#4D0006;}
		.st262{fill:#8A001C;}
		.st263{fill:#470004;}
		.st264{fill:#2B0000;}
		.st265{fill:#370003;}
		.st266{fill:#560009;}
		.st267{fill:#6A000D;}
		.st268{fill:#350006;}
		.st269{fill:#490004;}
		.st270{fill:#7D0013;}
		.st271{fill:#84001C;}
		.st272{fill:#202323;}
		.st273{fill:#090D10;}
		.st274{fill:#530007;}
		.st275{fill:#B00024;}
		.st276{fill:#520006;}
		.st277{fill:#9D0021;}
		.st278{fill:#7A0011;}
		.st279{fill:#850016;}
		.st280{fill:#870017;}
		.st281{fill:#370006;}
		.st282{fill:#C79156;}
		.st283{fill:#3A2813;}
		.st284{fill:#A3723F;}
		.st285{fill:#4C422F;}
		.st286{fill:#F5B171;}
		.st287{fill:#D89B69;}
		.st288{fill:#C0845B;}
		.st289{fill:#D39A67;}
		.st290{fill:#211E16;}
		.st291{fill:#383021;}
		.st292{fill:#C58E5D;}
		.st293{fill:#EDB175;}
		.st294{fill:#4C2F1D;}
		.st295{fill:#F1AF6D;}
		.st296{fill:#EAA768;}
		.st297{fill:#967147;}
		.st298{fill:#896946;}
		.st299{fill:#161107;}
		.st300{fill:#D3B77F;}
		.st301{fill:#47392E;}
		.st302{fill:#DDA26A;}
		.st303{fill:#FFCD88;}
		.st304{fill:#E5A868;}
		.st305{fill:#FFC089;}
		.st306{fill:#D89564;}
		.st307{fill:#D09463;}
		.st308{fill:#926341;}
		.st309{fill:#D18F5B;}
		.st310{fill:#956A40;}
		.st311{fill:#BD7058;}
		.st312{fill:#6F4536;}
		.st313{fill:#342E1E;}
		.st314{fill:#272018;}
		.st315{fill:#DC9667;}
		.st316{fill:#573A24;}
		.st317{fill:#A96D5A;}
		.st318{fill:#573C21;}
		.st319{fill:#2C291B;}
		.st320{fill:#160000;}
		.st321{fill:#530008;}
		.st322{fill:#855140;}
		.st323{fill:#614F32;}
		.st324{fill:#E18D6D;}
		.st325{fill:#603A2C;}
		.st326{fill:#885844;}
		.st327{fill:#7D4E3D;}
		.st328{fill:#D7AC76;}
		.st329{fill:#D79D5E;}
		.st330{fill:#FAAE7B;}
		.st331{fill:#836745;}
		.st332{fill:#647064;}
		.st333{fill:#3A301F;}
		.st334{fill:#6F5234;}
		.st335{fill:#A27D63;}
		.st336{fill:#776F5E;}
		.st337{fill:#654A2C;}
		.st338{fill:#715838;}
		.st339{fill:#18120B;}
		.st340{fill:#5C4727;}
		.st341{fill:#373023;}
		.st342{fill:#BF8450;}
		.st343{fill:#A8774C;}
		.st344{fill:#F9B97D;}
		.st345{fill:#E19E64;}
		.st346{fill:#CEC48E;}
		.st347{fill:#764F38;}
		.st348{fill:#2E2314;}
	</style>

	<polygon class="st0" points="257.9,156.2 264.5,216.6 258.1,259.4 "/>
	<polygon class="st1" points="281.3,259.2 272.9,248.3 307.8,227.3 "/>
	<polygon class="st2" points="272.9,248.3 277.9,196.2 263.1,217.9 "/>
	<polygon class="st3" points="287.2,74.4 273.8,137.5 257.9,156.2 "/>
	<polygon class="st4" points="257.9,156.2 274.8,164.4 271.2,174.1 "/>
	<polygon class="st5" points="57.1,64.4 54,104.9 64.1,118.5 72,110 "/>
	<polygon class="st6" points="234.7,111.6 258.4,176 258.1,259.4 "/>
	<polygon class="st7" points="117.6,62.3 138.7,35.9 167.3,28.7 "/>
	<polygon class="st8" points="149.3,91.6 143.9,62.9 167.3,28.7 "/>
	<polygon class="st9" points="143.9,62.9 120.9,112.7 149.3,90 "/>
	<polygon class="st10" points="86.6,129.7 65.2,126 86.7,114.1 "/>
	<polygon class="st11" points="147.4,141.8 146.8,155.6 159.4,151.6 161.2,148.7 "/>
	<polygon class="st12" points="61.8,134 90,135.8 68.5,146.5 "/>
	<polygon class="st13" points="105.2,222.2 127.6,251.7 88.1,243 "/>
	<polyline class="st14" points="61.1,147.1 68.5,146.5 61.8,134 61.1,147.1 61.1,147.1 "/>
	<polygon class="st15" points="111.8,97.5 117.6,62.3 124.2,106.2 "/>
	<polygon class="st16" points="149.3,90 157.1,82.7 178.2,118.3 "/>
	<polygon class="st14" points="183.7,81.3 178.2,118.3 186.2,98.5 "/>
	<polygon class="st14" points="138.6,129.3 126.7,140.6 111,134 "/>
	<polygon class="st17" points="126.7,140.6 125.5,154.2 111,134 "/>
	<polygon class="st18" points="125.5,154.2 113.8,166 111,134 "/>
	<polygon class="st14" points="125.5,154.2 113.8,166 137.2,178.9 "/>
	<polygon class="st14" points="125.5,154.2 152,160.4 137.2,178.9 "/>
	<polygon class="st19" points="125.5,154.2 134.4,137.5 126.7,140.6 "/>
	<polygon class="st14" points="138.6,129.3 147.4,141.8 126.3,154.2 "/>
	<polygon class="st20" points="134.4,137.5 138.6,129.3 147.4,141.8 "/>
	<polygon class="st21" points="134,143.2 134.4,137.5 125.5,154.2 "/>
	<polygon class="st22" points="125.5,154.2 134,143.2 140.4,142.5 "/>
	<polygon class="st23" points="132.5,148.7 125.5,154.2 134,153 "/>
	<polygon class="st24" points="147.4,141.8 142.6,149.6 146.8,155.6 "/>
	<polygon class="st25" points="147.4,141.8 170.4,153.9 154.5,141.9 "/>
	<polygon class="st26" points="138.6,129.3 154.5,141.9 147.4,141.8 "/>
	<polygon class="st27" points="111,134 94.8,156 113.8,166 "/>
	<polygon class="st28" points="94.8,156 113.8,166 111.2,184.8 "/>
	<polygon class="st29" points="113.8,166 111.2,184.8 137.2,178.9 "/>
	<polygon class="st14" points="94.8,156 90,135.8 111,134 "/>
	<polygon class="st14" points="152,160.4 170.4,153.9 159.4,151.6 "/>
	<polygon class="st14" points="159.4,151.6 146.8,155.6 151.5,150.5 "/>
	<polygon class="st30" points="151.8,146.6 153.9,150 150.2,149.6 "/>
	<polygon class="st14" points="125.5,154.2 146.8,155.6 150,157.8 "/>
	<polygon class="st31" points="152,160.4 150,157.8 159.4,151.6 "/>
	<polygon class="st32" points="146.8,155.6 150,157.8 159.4,151.6 "/>
	<polygon class="st14" points="111,134 101.2,107.7 90,135.8 "/>
	<polygon class="st14" points="111,134 109.4,122.2 101.2,107.7 "/>
	<polygon class="st14" points="111,134 135.1,121.7 109.4,122.2 "/>
	<polygon class="st33" points="111,134 135.1,121.7 138.6,129.3 "/>
	<polygon class="st34" points="124.2,106.2 135.1,121.7 134,100.2 "/>
	<polygon class="st35" points="137.2,178.9 170.4,153.9 152,160.4 "/>
	<polygon class="st36" points="137.2,178.9 170.4,153.9 193.6,175.2 "/>
	<polygon class="st37" points="137.2,178.9 193.6,175.2 169,188.6 "/>
	<polygon class="st38" points="137.2,178.9 169,188.6 162.1,213.8 "/>
	<polygon class="st39" points="137.2,178.9 162.1,213.8 122.5,201.8 "/>
	<polygon class="st40" points="137.2,178.9 122.5,201.8 111.2,184.8 "/>
	<polygon class="st41" points="162.1,213.8 193.6,175.2 169,188.6 "/>
	<polygon class="st42" points="162.1,213.8 193.6,175.2 201.5,221.6 "/>
	<polygon class="st43" points="170.4,153.9 195.7,160.5 193.6,175.2 "/>
	<polygon class="st14" points="170.4,153.9 183.7,146.9 178.9,135.7 "/>
	<polygon class="st44" points="170.4,153.9 178.9,135.7 154.5,141.9 "/>
	<polygon class="st45" points="138.6,129.3 178.9,135.7 154.5,141.9 "/>
	<polygon class="st46" points="135.1,121.7 178.9,135.7 138.6,129.3 "/>
	<polygon class="st47" points="135.1,121.7 149.3,90 178.2,118.3 "/>
	<polygon class="st48" points="135.1,121.7 149.3,90 134,100.2 "/>
	<polygon class="st14" points="178.9,135.7 154.1,122.2 178.2,118.3 "/>
	<polygon class="st49" points="178.2,118.3 154.1,122.2 135.1,121.7 "/>
	<polygon class="st50" points="154.1,122.2 178.9,135.7 135.1,121.7 "/>
	<polygon class="st51" points="150,157.8 152,160.4 125.5,154.2 "/>
	<polygon class="st52" points="142.6,149.6 132.5,148.7 144.5,143.4 "/>
	<polygon class="st53" points="142.6,149.6 146.8,155.6 132.5,148.7 "/>
	<polygon class="st54" points="132.5,148.7 134,153 146.8,155.6 "/>
	<polygon class="st55" points="157.1,82.7 161.6,47.7 178.2,118.3 "/>
	<polygon class="st56" points="178.2,118.3 183.7,81.3 161.6,47.7 "/>
	<polygon class="st57" points="157.1,82.7 161.6,47.7 149.3,90 "/>
	<polygon class="st58" points="161.6,47.7 173.3,34.4 167.3,28.7 "/>
	<polygon class="st59" points="161.6,47.7 173.3,34.4 200.2,32.8 "/>
	<polygon class="st60" points="161.6,47.7 200.2,32.8 184.7,52.9 "/>
	<polygon class="st61" points="161.6,47.7 184.7,52.9 205.5,115.1 "/>
	<polygon class="st62" points="183.7,81.3 186.2,98.5 205.5,115.1 "/>
	<polygon class="st63" points="178.2,118.3 186.2,98.5 205.5,115.1 "/>
	<polygon class="st64" points="178.2,118.3 178.9,135.7 205.5,115.1 "/>
	<polygon class="st65" points="178.9,135.7 205.5,115.1 217.7,147.8 "/>
	<polygon class="st66" points="178.9,135.7 217.7,147.8 183.7,146.9 "/>
	<polygon class="st67" points="170.4,153.9 183.7,146.9 217.7,147.8 "/>
	<polygon class="st68" points="170.4,153.9 217.7,147.8 195.7,160.5 "/>
	<polygon class="st69" points="195.7,160.5 193.6,175.2 217.7,147.8 "/>
	<polygon class="st70" points="178.2,118.3 186.2,98.5 183.7,81.3 "/>
	<polygon class="st71" points="101.2,107.7 86.7,114.1 90,135.8 "/>
	<polygon class="st72" points="72,110 101.2,107.7 86.7,114.1 "/>
	<polyline class="st14" points="72,110 86.7,114.1 90,135.8 "/>
	<polygon class="st73" points="61.8,134 90,135.8 65.2,126 "/>
	<line class="st14" x1="68.5" y1="146.5" x2="90" y2="135.8"/>
	<polygon class="st14" points="90,135.8 84.6,144.8 94.8,156 "/>
	<polygon class="st74" points="72,110 87.5,98.6 101.2,107.7 "/>
	<polygon class="st75" points="101.2,107.7 111.8,97.5 124.2,106.2 "/>
	<polygon class="st76" points="101.2,107.7 124.2,106.2 120.9,112.7 "/>
	<polygon class="st77" points="101.2,107.7 120.9,112.7 109.4,122.2 "/>
	<polygon class="st78" points="109.4,122.2 120.9,112.7 135.1,121.7 "/>
	<polygon class="st79" points="124.2,106.2 120.9,112.7 135.1,121.7 "/>
	<polygon class="st74" points="57.1,112.7 53.2,117.5 54,104.9 "/>
	<polygon class="st80" points="54,104.9 45.2,120.3 57.1,64.4 "/>
	<polygon class="st81" points="57.1,64.4 64.1,118.5 54,104.9 "/>
	<polygon class="st82" points="72,110 57.1,64.4 65.6,108.7 "/>
	<polygon class="st5" points="72,110 65.6,108.7 64.1,118.5 "/>
	<polygon class="st83" points="57.1,64.4 64.6,81.2 72,110 "/>
	<polygon class="st5" points="64.6,81.2 89.3,75.5 72,110 "/>
	<polygon class="st84" points="72,110 87.5,98.6 89.3,75.5 "/>
	<polygon class="st85" points="89.3,75.5 101.2,107.7 87.5,98.6 "/>
	<polygon class="st86" points="89.3,75.5 101.2,107.7 113.4,58.5 "/>
	<polygon class="st14" points="80.1,62.7 89.3,75.5 57.1,64.4 "/>
	<polygon class="st87" points="80.1,62.7 57.1,64.4 95,45.6 "/>
	<polygon class="st88" points="95,45.6 89.3,75.5 80.1,62.7 "/>
	<polygon class="st89" points="95,45.6 92.8,34.2 57.1,64.4 "/>
	<polygon class="st90" points="57.1,64.4 97.6,24.6 92.8,34.2 "/>
	<polygon class="st91" points="92.8,34.2 138.1,27.4 97.6,24.8 "/>
	<polygon class="st92" points="92.8,34.2 138.1,27.4 95,45.6 "/>
	<polygon class="st93" points="95,45.6 89.3,75.5 138.1,27.4 "/>
	<polygon class="st94" points="113.4,58.5 138.1,27.4 89.3,75.5 "/>
	<polygon class="st95" points="113.4,58.5 117.6,62.3 101.2,107.7 "/>
	<polygon class="st96" points="117.6,62.3 111.8,97.5 101.2,107.7 "/>
	<polygon class="st97" points="117.6,62.3 128.9,68.8 124.2,106.2 "/>
	<polygon class="st98" points="128.9,68.8 143.9,62.9 124.2,106.2 "/>
	<polygon class="st92" points="117.6,62.3 167.3,28.7 128.9,68.8 "/>
	<polygon class="st57" points="128.9,68.8 143.9,62.9 167.3,28.7 "/>
	<polygon class="st99" points="138.1,27.4 138.7,35.9 167.3,28.7 "/>
	<polygon class="st100" points="138.7,35.9 138.1,27.4 117.6,62.3 "/>
	<polygon class="st100" points="113.4,58.5 117.6,62.3 138.1,27.4 "/>
	<polygon class="st94" points="138.1,27.4 154,9.5 167.3,28.7 "/>
	<polygon class="st101" points="57.1,57.2 97.6,24.4 81.8,28.7 "/>
	<polygon class="st102" points="131.2,18.1 138.1,27.4 155.5,0 "/>
	<polygon class="st103" points="131.2,18.1 138.1,27.4 97.6,25.1 "/>
	<polygon class="st104" points="97.6,25.3 155.5,0 131.2,18.1 "/>
	<polygon class="st105" points="103,18.1 112.7,9.5 141.7,3.9 "/>
	<polygon class="st83" points="155.5,0 154,9.5 138.1,27.4 "/>
	<polygon class="st106" points="155.5,0 155.5,0 154,9.5 167.3,28.7 "/>
	<polygon class="st107" points="155.5,0 174,7.3 167.3,28.7 "/>
	<polygon class="st108" points="155.5,0 194.6,3.9 174,7.3 "/>
	<polygon class="st109" points="174,7.3 167.3,28.7 194.6,3.9 "/>
	<polygon class="st110" points="167.3,28.7 200.2,32.8 173.3,34.4 "/>
	<polygon class="st111" points="167.3,28.7 194.6,3.9 201,15 "/>
	<polygon class="st109" points="194.6,3.9 201,15 215.3,8.7 "/>
	<polygon class="st112" points="200.2,32.8 184.7,52.9 205.5,115.1 "/>
	<polygon class="st113" points="167.3,28.7 201,15 256.2,39.9 "/>
	<polygon class="st114" points="201,15 215.3,8.7 256.2,39.9 "/>
	<polyline class="st115" points="215.3,8.7 251.1,29.5 256.2,39.9 "/>
	<polygon class="st116" points="200.2,32.8 243.9,50.4 256.2,39.9 "/>
	<polygon class="st117" points="200.2,32.8 243.9,50.4 234.7,111.6 "/>
	<polygon class="st118" points="200.2,32.8 214.3,84.8 205.5,115.1 "/>
	<polygon class="st119" points="200.2,32.8 234.7,111.6 214.3,84.8 "/>
	<polygon class="st120" points="214.3,84.8 205.5,115.1 234.7,111.6 "/>
	<polygon class="st115" points="256.2,39.9 243.9,50.4 234.7,111.6 "/>
	<polygon class="st121" points="256.2,39.9 263.4,64.3 287.2,74.4 "/>
	<polygon class="st122" points="256.2,39.9 263.4,64.3 234.7,111.6 "/>
	<polygon class="st123" points="234.7,111.6 263.4,64.3 287.2,74.4 "/>
	<polygon class="st124" points="234.7,111.6 257.5,130.5 258.4,176 "/>
	<polygon class="st125" points="234.7,111.6 205.5,115.1 227.6,141 "/>
	<polygon class="st126" points="205.5,115.1 227.6,141 217.7,147.8 "/>
	<polygon class="st127" points="217.7,147.8 193.6,175.2 218.9,191.6 "/>
	<polygon class="st128" points="193.6,175.2 201.5,221.6 218.9,191.6 "/>
	<polygon class="st14" points="127.6,251.7 201.5,221.6 142.2,267.8 "/>
	<polygon class="st129" points="142.2,267.8 201.5,221.6 206.4,265.2 "/>
	<polygon class="st130" points="201.5,221.6 238.2,201.1 206.4,265.2 "/>
	<polygon class="st131" points="218.9,191.6 238.2,201.1 201.5,221.6 "/>
	<polygon class="st132" points="224,184.1 238.2,201.1 218.9,191.6 "/>
	<polygon class="st133" points="218.9,191.6 224,184.1 217.7,147.8 "/>
	<polygon class="st134" points="162.1,213.8 201.5,221.6 127.6,251.7 "/>
	<polygon class="st135" points="162.1,213.8 127.6,251.7 122.5,201.8 "/>
	<polygon class="st136" points="127.6,251.7 142.2,267.8 122.1,256.7 "/>
	<polygon class="st137" points="142.2,267.8 206.4,265.2 175.4,280.7 "/>
	<polygon class="st14" points="94.8,156 96.7,197 111.2,184.8 "/>
	<polygon class="st138" points="96.7,197 111.2,184.8 94.8,156 "/>
	<polygon class="st14" points="111.2,184.8 111.2,184.8 122.5,201.8 "/>
	<polygon class="st139" points="111.2,184.8 122.5,201.8 106,192.7 "/>
	<polygon class="st140" points="106,192.7 122.5,201.8 112.4,200.2 "/>
	<polygon class="st141" points="106,192.7 111.2,184.8 96.7,197 "/>
	<polygon class="st142" points="106,192.7 112.4,200.2 96.7,197 "/>
	<polygon class="st14" points="87,198.2 112.4,200.2 116.8,212.8 "/>
	<polygon class="st143" points="112.4,200.2 116.8,212.8 122.5,201.8 "/>
	<polygon class="st144" points="122.5,201.8 116.8,212.8 127.6,251.7 "/>
	<polygon class="st145" points="87,198.2 96.7,197 94.8,156 "/>
	<polygon class="st146" points="87,198.2 89.2,206.5 116.8,212.8 "/>
	<polygon class="st147" points="87,198.2 89.2,206.5 75.9,216.6 "/>
	<polygon class="st14" points="87,198.2 68.7,204.5 75.9,216.6 "/>
	<polygon class="st148" points="68.7,204.5 87,198.2 94.8,156 "/>
	<polygon class="st149" points="89.2,206.5 75.9,216.6 90.2,214.2 "/>
	<polygon class="st150" points="89.2,206.5 98,211.7 90.2,214.2 "/>
	<polygon class="st151" points="89.2,206.5 116.8,212.8 98,211.7 "/>
	<polygon class="st152" points="98,211.7 116.8,212.8 105.5,216 "/>
	<polygon class="st153" points="98,211.7 90.2,214.2 105.5,216 "/>
	<polygon class="st154" points="105.5,216 105.2,222.2 116.8,212.8 "/>
	<polygon class="st155" points="105.5,216 105.2,222.2 75.9,216.6 "/>
	<polygon class="st14" points="105.2,222.2 116.8,212.8 127.6,251.7 116,235.9 116,230.1 113.2,232.7 "/>
	<polygon class="st156" points="94.8,156 75,164.2 84.9,175.4 "/>
	<polygon class="st157" points="75,164.2 84.9,175.4 64.4,182 "/>
	<polygon class="st158" points="75,164.2 72.6,159 64.4,182 "/>
	<polygon class="st37" points="84.9,175.4 64.4,182 62.3,194.7 "/>
	<polygon class="st159" points="72.6,159 94.8,156 75,164.2 "/>
	<polygon class="st160" points="84.9,175.4 62.3,194.7 68.7,204.5 "/>
	<polygon class="st161" points="62.3,194.7 74.7,249.3 75.9,216.6 "/>
	<polygon class="st14" points="79.7,145.8 68.5,146.5 84.6,144.8 "/>
	<polygon class="st162" points="68.5,146.5 49.4,195.3 72.6,159 "/>
	<polygon class="st14" points="60.4,217 56.2,227 62.7,236.7 "/>
	<polygon class="st14" points="54.5,225 53.2,249.7 70,266 "/>
	<polygon class="st14" points="71,259.7 72.4,267.2 75.4,271 "/>
	<polygon class="st14" points="105.2,222.2 88.1,243 127.6,251.7 116,235.9 110.9,235.2 113.2,232.7 "/>
	<polygon class="st163" points="88.1,243 94.5,220.1 84.5,218.2 "/>
	<polygon class="st164" points="88.1,243 87.4,218.8 75.9,216.6 74.7,249.1 "/>
	<polygon class="st14" points="74.7,247.9 74.7,247.9 88.1,241.5 "/>
	<polygon class="st165" points="92.2,241 127.6,251.7 106.1,247.9 "/>
	<polygon class="st166" points="92.2,241 88.8,245.8 88.1,243 "/>
	<polygon class="st14" points="108.2,266.6 84.7,267.8 95.5,276.8 "/>
	<polygon class="st163" points="84.7,267.8 84.7,267.8 95.5,276.8 87.6,285.6 "/>
	<polygon class="st167" points="95.5,276.8 87.6,285.6 111.2,284.8 "/>
	<polygon class="st168" points="95.5,276.8 108.2,266.6 111.2,284.8 "/>
	<polygon class="st169" points="93.2,267 106.3,261.2 108.2,266.6 "/>
	<polygon class="st14" points="93.2,267 107.4,254.2 92.4,260 "/>
	<polygon class="st170" points="92.4,260 93.2,267 81,255.6 "/>
	<polygon class="st171" points="81,255.6 107.4,254.2 92.4,260 "/>
	<polygon class="st172" points="81,255.6 91.7,250.7 107.4,254.2 "/>
	<polygon class="st173" points="127.6,251.7 107.4,254.2 122.1,256.7 "/>
	<polygon class="st174" points="122.1,256.7 107.4,254.2 106.3,261.2 "/>
	<polygon class="st175" points="122.1,256.7 108.2,266.6 106.3,261.2 "/>
	<polygon class="st176" points="122.1,256.7 108.2,266.6 142.2,267.8 "/>
	<polygon class="st177" points="108.2,266.6 111.2,284.8 142.2,267.8 "/>
	<polygon class="st178" points="92.2,241 93.2,246 106.1,247.9 "/>
	<polygon class="st14" points="88.8,245.8 91.7,250.7 85.3,248.9 "/>
	<polygon class="st14" points="85.3,248.9 81.1,242.5 81,255.6 "/>
	<polygon class="st179" points="85.3,248.9 81,255.6 91.7,250.7 "/>
	<polygon class="st180" points="81.1,242.5 75.9,256.2 81,255.6 "/>
	<polygon class="st181" points="81.1,242.5 74.7,249.3 77.2,252.3 "/>
	<polygon class="st182" points="74.7,249.3 75.9,256.3 77.2,252.3 "/>
	<polygon class="st183" points="75.9,256.2 81,255.6 77.4,261.3 "/>
	<polygon class="st184" points="81,255.6 77.4,261.3 84.7,267.8 "/>
	<polygon class="st185" points="81,255.6 84.7,267.8 85.3,264.5 "/>
	<polygon class="st186" points="81,255.6 85.3,264.5 93.2,267 "/>
	<polygon class="st187" points="85.3,264.5 84.7,267.8 93.2,267 "/>
	<polygon class="st188" points="127.6,251.7 91.7,250.7 107.4,254.2 "/>
	<polygon class="st14" points="106.1,247.9 94,246 91.7,250.7 "/>
	<polygon class="st189" points="87.6,285.6 91.4,298.8 103.2,312 "/>
	<polygon class="st190" points="87.6,285.6 103.2,312 111.2,284.8 "/>
	<polygon class="st191" points="111.2,284.8 103.2,312 131.9,305 "/>
	<polygon class="st192" points="111.2,284.8 142.2,267.8 131.9,305 "/>
	<polygon class="st193" points="142.2,267.8 131.9,305 175.4,280.7 "/>
	<polygon class="st194" points="131.9,305 143.6,311.7 175.4,280.7 "/>
	<polygon class="st195" points="131.9,305 143.6,311.7 103.2,312 "/>
	<polygon class="st196" points="143.6,311.7 206.1,284.5 175.4,280.7 "/>
	<polygon class="st197" points="175.4,280.7 206.4,265.2 206.1,284.5 "/>
	<polygon class="st198" points="238.2,201.1 217.7,147.8 224,184.1 "/>
	<polygon class="st199" points="227.6,141 217.7,147.8 238.2,201.1 "/>
	<polygon class="st14" points="238.2,201.1 228.5,221.1 206.4,265.2 "/>
	<polygon class="st200" points="238.2,201.1 228.5,221.1 247.6,232.2 "/>
	<polygon class="st201" points="228.5,221.1 247.6,232.2 235.5,234.2 "/>
	<polygon class="st202" points="228.5,221.1 235.5,234.2 206.1,284.5 "/>
	<polygon class="st203" points="228.5,221.1 206.1,284.5 206.4,265.2 "/>
	<polygon class="st204" points="235.5,234.2 206.1,284.5 220.5,292.6 "/>
	<polygon class="st205" points="235.5,234.2 220.5,292.6 247.6,232.2 "/>
	<polygon class="st14" points="247.6,232.2 258.1,259.4 220.5,292.6 "/>
	<polygon class="st206" points="206.1,284.5 220.5,292.6 165.8,323.1 "/>
	<polygon class="st207" points="206.1,284.5 165.8,323.1 143.6,311.7 "/>
	<polygon class="st208" points="143.6,311.7 165.8,323.1 148.4,328.5 "/>
	<polygon class="st209" points="165.8,323.1 151.2,357.4 148.4,328.5 "/>
	<polygon class="st210" points="165.8,323.1 183.2,330.3 151.2,357.4 "/>
	<polygon class="st211" points="165.8,323.1 183.2,330.3 220.5,292.6 "/>
	<polygon class="st14" points="151.2,357.4 183.2,330.3 183.2,330.3 "/>
	<polygon class="st14" points="151.2,357.4 183.2,330.3 220.5,292.6 "/>
	<polygon class="st14" points="151.2,357.4 281.3,259.2 210.2,334.5 "/>
	<polygon class="st212" points="227.6,141 234.7,111.6 258.1,259.4 "/>
	<polygon class="st123" points="292.5,153.9 293.1,139.3 321.4,129.6 "/>
	<polygon class="st123" points="332.9,143.4 324.4,146.8 317.5,161.5 "/>
	<polygon class="st55" points="292.5,153.9 312.7,151.5 327.9,175.5 "/>
	<polygon class="st79" points="292.5,153.9 327.9,175.5 315.9,192.7 "/>
	<polygon class="st213" points="320.5,192.3 331.1,188.3 340,206.6 "/>
	<polygon class="st214" points="315.5,192.3 330.2,205.3 317.2,217 "/>
	<polygon class="st125" points="322.3,217.5 331.5,230.6 313.6,251 "/>
	<polygon class="st215" points="258.1,259.4 272.9,248.3 263.1,217.9 "/>
	<polygon class="st216" points="272.9,248.3 261.5,265.8 281.3,259.2 "/>
	<polygon class="st217" points="272.9,248.3 261.5,265.8 151.2,357.4 "/>
	<polygon class="st218" points="261.5,265.8 151.2,357.4 281.3,259.2 "/>
	<polygon class="st219" points="81.1,242.5 88.8,245.8 88.1,243 "/>
	<polygon class="st220" points="81.1,242.5 88.8,245.8 85.3,248.9 "/>
	<polygon class="st221" points="152,160.4 137.2,178.9 125.5,154.2 "/>
	<polygon class="st222" points="72.6,159 75.2,161.5 94.8,156 "/>
	<path class="st14" d="M74.4,145.3"/>
	<polygon class="st223" points="234.7,111.6 287.2,74.4 257.5,130.5 "/>
	<polygon class="st224" points="287.2,74.4 292.5,153.9 273.8,137.5 "/>
	<polygon class="st225" points="257.9,156.2 287.2,74.4 257.5,130.5 "/>
	<polygon class="st226" points="257.9,156.2 274.8,164.4 274.8,157.5 "/>
	<polygon class="st227" points="257.9,156.2 292.5,153.9 274.8,157.5 "/>
	<polygon class="st14" points="274.8,157.5 274.8,164.4 292.5,153.9 "/>
	<polygon class="st228" points="257.9,156.2 273.8,137.5 292.5,153.9 "/>
	<polygon class="st229" points="257.9,156.2 271.2,174.1 268.1,195.2 "/>
	<polygon class="st230" points="257.9,156.2 268.1,195.2 261.7,196.8 "/>
	<polygon class="st231" points="261.7,196.8 268.1,195.2 263.1,217.9 "/>
	<polygon class="st232" points="268.1,195.2 277.9,196.2 263.1,217.9 "/>
	<polygon class="st233" points="268.1,195.2 277.9,196.2 271.2,174.1 "/>
	<polygon class="st234" points="274.8,164.4 277.9,196.2 271.2,174.1 "/>
	<path class="st14" d="M274.8,164.4l17.8-10.5L274.8,164.4z"/>
	<polygon class="st235" points="282.7,164.8 274.8,164.4 277.9,196.2 "/>
	<polygon class="st236" points="277.9,196.2 292.5,153.9 282.7,164.8 "/>
	<polygon class="st237" points="277.9,196.2 292.5,153.9 299.7,192.2 "/>
	<polygon class="st238" points="277.9,196.2 299.7,192.2 298.2,206.2 "/>
	<polygon class="st239" points="299.7,192.2 298.2,206.2 315.9,192.7 "/>
	<polygon class="st240" points="315.9,192.7 292.5,153.9 299.7,192.2 "/>
	<polygon class="st125" points="277.9,196.2 298.2,206.2 272.9,248.3 "/>
	<polygon class="st241" points="272.9,248.3 298.2,206.2 307.8,227.3 "/>
	<polygon class="st242" points="298.2,206.2 315.9,192.7 307.8,227.3 "/>
	<polygon class="st243" points="307.8,227.3 304.8,260.9 281.3,259.2 "/>
	<polygon class="st244" points="315.9,192.7 307.8,227.3 317.5,229.5 "/>
	<polygon class="st6" points="300.1,136.4 300.5,126.8 324.4,112.7 "/>
	<polygon class="st117" points="317.5,159.3 326.4,156.4 336.7,163.8 "/>
	<polygon class="st218" points="281.3,259.2 304.8,260.9 287.4,269.3 "/>
	<polygon class="st245" points="281.3,259.2 287.4,269.3 210.2,334.5 "/>
	<polygon class="st246" points="304.8,260.9 287.4,269.3 293.6,284.5 "/>
	<polygon class="st247" points="287.4,269.3 293.6,284.5 236,359.2 "/>
	<polygon class="st218" points="287.4,269.3 229.6,329.9 236,359.2 "/>
	<polygon class="st248" points="287.4,269.3 229.6,329.9 210.2,334.5 "/>
	<polygon class="st216" points="229.6,329.9 210.2,334.5 236,359.2 "/>
	<polygon class="st249" points="293.6,284.5 291.4,315.1 236,359.2 "/>
	<polygon class="st246" points="293.6,284.5 300.1,321.5 291.4,315.1 "/>
	<polygon class="st250" points="293.6,284.5 305.5,303.5 300.1,321.5 "/>
	<polygon class="st246" points="310.2,296.2 307,328.5 300.1,321.5 "/>
	<polygon class="st250" points="291.4,315.1 300.1,321.5 236,359.2 "/>
	<polygon class="st251" points="300.1,321.5 308.7,339.8 236,359.2 "/>
	<polygon class="st252" points="151.2,357.4 210.2,334.5 236,359.2 "/>
	<polygon class="st253" points="151.2,357.4 214.5,366.5 236,359.2 "/>
	<polygon class="st254" points="214.5,366.5 236,359.2 228.4,394.8 "/>
	<polygon class="st255" points="236,359.2 228.4,394.8 308.7,339.8 "/>
	<polygon class="st256" points="308.7,339.8 283.1,384.3 228.4,394.8 "/>
	<polygon class="st257" points="308.7,339.8 283.1,384.3 315.5,395.2 "/>
	<polygon class="st258" points="308.7,339.8 315.5,395.2 375.8,434.4 "/>
	<polygon class="st259" points="283.1,384.3 315.5,395.2 148.7,461.3 "/>
	<polygon class="st260" points="283.1,384.3 148.7,461.3 228.4,394.8 "/>
	<polygon class="st261" points="228.4,394.8 174.7,403.6 148.7,461.3 "/>
	<polygon class="st262" points="228.4,394.8 159,392.6 174.7,403.6 "/>
	<polygon class="st263" points="228.4,394.8 170.3,382.3 159,392.6 "/>
	<polygon class="st264" points="228.4,394.8 214.5,366.5 207.6,373.8 "/>
	<polygon class="st265" points="228.4,394.8 207.6,373.8 151.2,357.4 "/>
	<polygon class="st266" points="207.6,373.8 214.5,366.5 151.2,357.4 "/>
	<polygon class="st267" points="151.2,357.4 170.3,382.3 228.4,394.8 "/>
	<polygon class="st268" points="151.2,357.4 170.3,382.3 159,392.6 "/>
	<polygon class="st269" points="151.2,357.4 159,392.6 146.5,375.5 "/>
	<polygon class="st270" points="159,392.6 174.7,403.6 148.7,461.3 "/>
	<polygon class="st271" points="159,392.6 148.7,461.3 131.2,440.8 "/>
	<polygon class="st255" points="159,392.6 131.2,440.8 60.2,472.8 "/>
	<polygon class="st250" points="131.2,440.8 148.7,461.3 60.2,472.8 "/>
	<polygon class="st272" points="148.7,461.3 315.5,395.2 375.8,434.4 "/>
	<polygon class="st273" points="148.7,461.3 375.8,434.4 273.2,478.8 "/>
	<polygon class="st272" points="375.8,434.4 347.9,456.8 358.9,459.2 "/>
	<path class="st258" d="M322.5,461.3l12.7-4.7c0,0,23,4.1,22,4.7C356.2,462,322.5,461.3,322.5,461.3z"/>
	<polygon class="st257" points="336.9,453.5 343.2,454.5 355.9,445.5 "/>
	<polygon class="st259" points="150.5,466.1 154.5,474.1 203.2,477.5 "/>
	<polygon class="st250" points="143.9,465.8 140.5,470.1 114.9,479.5 "/>
	<polygon class="st274" points="120.9,470.1 109.5,477.1 89.9,478.1 "/>
	<polygon class="st246" points="159,392.6 88.6,417.8 60.2,472.8 "/>
	<polygon class="st274" points="159,392.6 71.5,413.5 88.6,417.8 "/>
	<polygon class="st275" points="146.5,375.5 159,392.6 71.5,413.5 "/>
	<polygon class="st276" points="71.5,413.5 88.6,417.8 60.2,472.8 "/>
	<polygon class="st277" points="71.5,413.5 60.2,472.8 16.9,453.5 "/>
	<polygon class="st14" points="148.4,328.5 151.2,357.4 71.5,413.5 "/>
	<polygon class="st278" points="151.2,357.4 146.5,375.5 71.5,413.5 "/>
	<polygon class="st279" points="71.5,413.5 53.5,396.6 39,405 "/>
	<polygon class="st276" points="45.4,431.3 20,435.3 16.9,452.1 "/>
	<polygon class="st275" points="71.5,413.5 21.7,404.6 8.7,411.7 "/>
	<polygon class="st280" points="28.1,424.5 1.9,426.1 0,440.9 "/>
	<polygon class="st281" points="14.4,456 6,465.8 58,471.8 "/>
	<polygon class="st14" points="53.4,471.5 45.4,479 55.9,478 "/>
	<polygon class="st14" points="358.9,400 367.4,411 375.9,408.5 "/>
	<polygon class="st6" points="287.2,74.4 295.4,108.2 292.5,153.9 "/>
	<path class="st14" d="M279.9,54.5"/>
	<path class="st123" d="M286.9,64"/>
	<polygon class="st14" points="342.9,379.5 350.4,377.5 355.9,384.5 "/>
	<polygon class="st282" points="247.6,232.2 252,255.3 220.5,292.6 "/>
	<polygon class="st283" points="247.6,232.2 258.1,259.4 252,255.3 "/>
	<polygon class="st284" points="252,255.3 258.1,259.4 220.5,292.6 "/>
	<polygon class="st285" points="57.1,64.4 89.3,75.5 64.6,81.2 "/>
	<polygon class="st14" points="90,135.8 93.8,137.5 94.8,156 "/>
	<path class="st14" d="M90,135.8"/>
	<polygon class="st286" points="95.9,135.3 111,134 94.8,156 "/>
	<polygon class="st287" points="121.7,160.3 137.2,178.9 113.8,166 "/>
	<polygon class="st288" points="121.7,160.3 125.5,154.2 137.2,178.9 "/>
	<polygon class="st289" points="125.5,154.2 121.7,160.3 113.8,166 "/>
	<polygon class="st46" points="150.4,127 138.6,129.3 168.4,134 "/>
	<polygon class="st33" points="150.6,127.2 135.1,121.7 138.6,129.3 "/>
	<polygon class="st290" points="135.1,121.7 138.6,129.3 138.6,129.3 "/>
	<polygon class="st291" points="135.1,121.7 111,134 112.4,126.8 "/>
	<polygon class="st292" points="109.4,122.2 112.4,126.8 111,134 "/>
	<polygon class="st293" points="109.4,122.2 135.1,121.7 112.4,126.8 "/>
	<polygon class="st294" points="103.2,312 143.6,311.7 123.5,315.7 "/>
	<polygon class="st295" points="93.8,137.5 90,135.8 95.9,135.3 "/>
	<polygon class="st296" points="93.8,137.5 94.8,156 95.9,135.3 "/>
	<polygon class="st297" points="90.7,144.8 90,135.8 94.8,156 "/>
	<polygon class="st298" points="90.7,144.8 90,135.8 86.7,141.9 "/>
	<polygon class="st299" points="89.4,146.2 84.6,144.8 94.8,156 "/>
	<polygon class="st300" points="77.9,156.6 94.8,156 72.6,159 "/>
	<polygon class="st299" points="83.5,156.4 84.6,144.8 94.8,156 "/>
	<polygon class="st301" points="86.6,129.7 65.2,126 90,135.8 "/>
	<polygon class="st302" points="86.6,129.7 86.7,114.1 90,135.8 "/>
	<polygon class="st74" points="65.2,126 64.1,118.5 72,110 "/>
	<polygon class="st303" points="65.2,126 72,110 86.7,114.1 "/>
	<polygon class="st304" points="94.5,220.1 88.1,243 105.2,222.2 "/>
	<polygon class="st305" points="74.4,206.5 68.9,204.5 87,198.2 "/>
	<polygon class="st306" points="74.4,206.5 87,198.2 75.9,216.6 "/>
	<polygon class="st307" points="74.4,206.5 75.9,216.6 68.9,204.5 "/>
	<polygon class="st308" points="114.6,222.6 116.8,212.8 105.2,222.2 "/>
	<polygon class="st309" points="114.6,222.6 127.6,251.7 105.2,222.2 "/>
	<polygon class="st295" points="114.6,222.6 116.8,212.8 127.6,251.7 "/>
	<polygon class="st310" points="116,230.1 110.9,235.2 116,235.9 "/>
	<polygon class="st311" points="107.4,254.2 106.3,261.2 93.2,267 "/>
	<polygon class="st312" points="91.7,250.7 106.1,247.9 127.6,251.7 "/>
	<polygon class="st313" points="68.5,146.5 90,135.8 84.6,144.8 "/>
	<polygon class="st314" points="68.5,146.5 76.6,148.3 88.3,144.8 84.6,144.8 "/>
	<polyline class="st53" points="76.6,157.2 83.5,156.4 84.6,144.8 76.6,157.2 "/>
	<path class="st14" d="M151.2,357.4"/>
	<polygon class="st315" points="87,198.2 96.7,197 112.4,200.2 "/>
	<polygon class="st200" points="227.6,141 258.1,259.4 247.6,232.2 238.2,201.1 "/>
	<polygon class="st316" points="75.9,216.6 90.2,214.2 105.5,216 "/>
	<polygon class="st317" points="125.5,154.2 134,153 146.8,155.6 "/>
	<polygon class="st3" points="274.8,164.4 274.8,157.5 292.5,153.9 "/>
	<path class="st14" d="M150.2,145.3"/>
	<polygon class="st318" points="161.2,148.7 170.4,153.9 159.4,151.6 "/>
	<polygon class="st319" points="274.8,164.4 292.5,153.9 282.7,164.8 "/>
	<polygon class="st248" points="272.9,248.3 258.1,259.4 220.5,292.6 151.2,357.4 "/>
	<polygon class="st264" points="148.4,328.5 128.1,359.2 151.2,357.4 "/>
	<polygon class="st320" points="128.1,359.2 71.5,413.5 151.2,357.4 "/>
	<polygon class="st321" points="128.1,359.2 148.4,328.5 71.5,413.5 "/>
	<polygon class="st246" points="151.2,357.4 281.3,259.2 210.2,334.5 "/>
	<polygon class="st322" points="91.7,250.7 88.8,245.8 92.2,241 94,246 "/>
	<path class="st187" d="M84.7,267.8"/>
	<path class="st187" d="M84.7,267.8"/>
	<polygon class="st323" points="84.7,267.8 95.5,276.8 108.2,266.6 "/>
	<polyline class="st324" points="92.4,260 93.2,267 93.2,267 107.2,254.2 "/>
	<polygon class="st325" points="81.1,242.5 85.3,248.9 81,255.6 "/>
	<polygon class="st326" points="94,246 106.1,247.9 91.7,250.7 "/>
	<polygon class="st327" points="89,245.5 91.7,250.7 85.3,248.9 "/>
	<polygon class="st328" points="77.4,261.3 84.7,267.8 87.6,285.6 "/>
	<polygon class="st329" points="127.6,251.7 201.5,221.6 142.2,267.8 "/>
	<polygon class="st330" points="112.4,200.2 116.8,212.8 87,198.2 "/>
	<polygon class="st331" points="90,135.8 86.7,141.9 79.4,141.1 "/>
	<polygon class="st332" points="88.1,149.6 86.6,152.1 89.1,152.1 "/>
	<polygon class="st333" points="84.6,144.8 86.3,141.9 90.7,144.8 "/>
	<polygon class="st333" points="90.7,144.8 88.3,144.8 94.8,156 "/>
	<polygon class="st334" points="159.4,151.6 170.4,153.9 152,160.4 "/>
	<polygon class="st335" points="146.8,155.6 125.5,154.2 150,157.8 "/>
	<polygon class="st336" points="132.5,148.7 140.4,142.5 147.4,141.8 144.5,143.4 "/>
	<polygon class="st30" points="147.4,141.8 144.5,143.4 142.6,149.6 "/>
	<polygon class="st337" points="79.4,141.1 66.9,143.4 68.5,146.5 "/>
	<polygon class="st338" points="126.7,140.6 138.6,129.3 111,134 "/>
	<polygon class="st339" points="134.4,137.5 154.5,141.9 134,143.2 "/>
	<path class="st339" d="M154.5,141.9"/>
	<polygon class="st340" points="126.7,140.6 138.6,129.3 134.4,137.5 "/>
	<polygon class="st341" points="89.3,75.5 80.1,62.7 57.1,64.4 "/>
	<polygon class="st342" points="178.9,135.7 183.7,146.9 170.4,153.9 "/>
	<polygon class="st66" points="154.1,122.2 178.2,118.3 178.9,135.7 "/>
	<polygon class="st343" points="94.8,156 93.8,137.5 90,135.8 "/>
	<polygon class="st344" points="111,134 101.2,107.7 90,135.8 "/>
	<polygon class="st345" points="109.4,122.2 111,134 101.2,107.7 "/>
	<polygon class="st250" points="293.6,284.5 304.8,260.9 305.5,282.7 "/>
	<polygon class="st247" points="293.6,284.5 305.5,282.7 308.7,292.6 "/>
	<polygon class="st245" points="308.7,292.6 305.5,303.5 293.6,284.5 "/>
	<polyline class="st114" points="287.2,74.4 266.3,45.6 256.2,39.9 "/>
	<polygon class="st125" points="91.5,148.3 82.1,145 87.6,143.2 "/>
	<polygon class="st346" points="84.5,145.7 76.6,147.1 76.6,157.2 "/>
	<polygon class="st347" points="72.6,159 76.6,148.3 76.6,157.2 "/>
	<polygon class="st348" points="68.5,146.5 72.6,159 77.6,145.9 "/>
	<polygon class="st30" points="84.5,145.7 82.1,150.9 83.5,156.4 "/>
	<text class="svg-title"  transform="matrix(1 0 0 1 180.1353 435.1211)">
	Hi, I'm Natalya</text>
	<text class="svg-twitter" transform="matrix(1 0 0 1 210.1353 465.1211)">@natalyathree</text>
</svg>
</a>
</div>